<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body style="font-family:Verdana;color:#05252c;">

  <div style="background-color:#90b1df;padding:5px;text-align:center;">
    <h2 style="margin: 0px;padding: 0;"><%= title %></h2>
    <p style="font-size:50%;margin: 0px;padding: 0;"><%= wsa %>:<%= wsp %></p>
    <% if (fail_msg != undefined) { %>
    <p style="font-family:Verdana;color:#e10e1c;"> <%= fail_msg%> </p>
    <%}%>
  </div>

  <div  style="overflow:auto;background-color:#90b1df;margin-top:7px;">

    <div class="left" style="background-color:#90b1df">
      <h3 style="margin: 0px;padding: 0px;"><a href="/challenge_home" style="text-decoration: none;">&#x1F519;</a> Challenges</h3>
      <ul style="list-style-type: none; margin: 10px;padding: 0;">
        <li> 
          <Div  style="padding-bottom: 10px ;">
            &#x1F4C4 <a href="/challenge_register_form" >New...</a>
          </Div>            
        </li>
        <% if (user_challenges != undefined) { %>
    <% for (const key in user_challenges) { %>
    <li>
      <Div>
        &#x1F50E <a href=<%= "/challenge_view?challenge_key=" + key %> style="text-decoration: none;">
          <%= user_challenges[key].name %> </a>
        <a href=<%= "/challenge_edit_form?challenge_key=" + key %> style="text-decoration: none;">
          &#9998;
        </a>
        <!-- <a href=<%= "/match_launch?match_key=" + key%>
          style="text-decoration: none;">&#x1F680;</a> -->
        <p style="font-size:50%;margin-top: 0px ; margin-bottom: 5px; margin-left: 25px;">
          <%= user_challenges[key].theme %> </p>
      </Div>
    </li>
    <% } %>
    <% } %>
    </ul>
  </div>

  <div class="main">
    <div style="text-align: center;padding-bottom: 10px ">
      <h3 style="margin: 0px;padding: 0px;"><%= "Challenge: " + user_challenges[challenge_key].name %></h3>
    </div>
    
    <Div style="text-align: left;">
      <p style="margin: 0px;">Show options in shooting state: <%=user_challenges[challenge_key].config.show_options%></p>
      <p style="margin: 0px;">Start match upon completing registration:
        <%=user_challenges[challenge_key].config.start_match_upon_completing_registration%></p>
      <p style="margin: 0px;">Minimum number of players: <%=user_challenges[challenge_key].config.min_amount_players%></p>
      <p style="margin: 0px;">Maximum number of players: <%=user_challenges[challenge_key].config.max_amount_players%></p>
      <p style="margin: 0px;">Waiting time for registration at match (seconds:
        <%=user_challenges[challenge_key].config.wait_to_registry_at_match_time/1000%></p>
      <p style="margin: 0px;">Waiting time for the start of the match (seconds):
        <%=user_challenges[challenge_key].config.wait_to_start_match_time/1000%></p>
      <p style="margin: 0px;">Waiting time to start the next round (seconds):
        <%=user_challenges[challenge_key].config.wait_to_next_round_start_time/1000%></p>
      <p style="margin: 0px;">Waiting time to resume the round (seconds):
        <%=user_challenges[challenge_key].config.wait_to_round_resume_time/1000%></p>
      <p style="margin: 0px;">Waiting time to end the match (seconds):
        <%=user_challenges[challenge_key].config.wait_to_match_end_time/1000%></p>
      <p style="margin: 0px;margin-bottom: 10px;">Waiting time to destroy the match (seconds):
        <%=user_challenges[challenge_key].config.wait_to_match_abort_time/1000%></p>
    </Div>
    <div>
      <h4 style="margin: 0px;">Rounds</h4>
      <ul style="margin: 0px;margin-left: 25px; padding: 0;">
        <li>
          <Div>
            <a href=<%= "/round_register_form?challenge_key=" + challenge_key %>> New... </a>
          </Div>
        </li>
        <% if (user_challenges != undefined && challenge_key in user_challenges) { %>
        <% for (const round_key in user_challenges[challenge_key].rounds) { %>

        <li>
          <!-- <h4 style="margin: 0px;">Question</h4> -->
          <Div>
            <p style="margin-top: 5px ; margin-bottom: 0.0em ;">Theme:
              <%= user_challenges[challenge_key].rounds[round_key].quiz_theme %> <a
                href=<%= "/round_edit_form?challenge_key=" + challenge_key + "&round_key=" + round_key %>
                style="text-decoration: none;"> &#9998 </a></p>
            <h5 style="margin: 0px;">Question</h5>
            <p style="margin-top: 0.0em ; margin-bottom: 0.0em ;">
              <%= user_challenges[challenge_key].rounds[round_key].question.description %></p>
          </Div>
          <ul style="list-style-type: none;margin: 0;padding: 0;">
            <li>
              <p style="margin-top: 0.0em ; margin-bottom: 0.0em ;color:#134d11;">True Option:
                <%= user_challenges[challenge_key].rounds[round_key].question.true_option %> </p>
            </li>
            <% for(var i=0; i < user_challenges[challenge_key].rounds[round_key].question.fake_options.length; i++) {%>
            <li>
              <p style="margin-top: 0.0em ; margin-bottom: 0.0em; color:#e10e1c;"> Fake Option<%= i + 1 %> :
                <%= user_challenges[challenge_key].rounds[round_key].question.fake_options[i] %> </p>
            </li>
            <% } %>
          </ul>
          <h5 style="margin: 0px;">Config</h5>
          <p style="margin: 0px;">Wait time to shooting (seconds):
            <%=user_challenges[challenge_key].rounds[round_key].shooting_timeout/1000%></p>
          <p style="margin: 0px;">Wait time to response (seconds):
            <%=user_challenges[challenge_key].rounds[round_key].response_timeout/1000%></p>
          <p style="margin: 0px;">Wait time to pass (seconds):
            <%=user_challenges[challenge_key].rounds[round_key].pass_timeout/1000%></p>
          <p style="margin: 0px;">Score: <%=user_challenges[challenge_key].rounds[round_key].score%></p>

        </li>
        <% } %>
        <% } %>
      </ul>
    </div>
  </div>

  </div>

  <div id="status" style="background-color:#90b1df;text-align:center;padding:5px;margin-top:7px;">
    <% if (user != undefined) { %>
    <p style="margin: 0px;padding: 0;"> <%= user.name %> </p>
    <p style="font-size:50%;margin: 0px;padding: 0;"> <%= user.email %> </p>
    <a href="/user_logout"> logout </a>
    <%} else { %>
    <a style="margin: 0px;padding: 0;" href="/user_login_form"> login </a>
    <% } %>
  </div>

</body>

</html>