<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascripts/wsmatchroom.js"></script>
</head>

<body style="font-family:Verdana;color:#05252c;" onload="wsmatchroom()">

  <!-- <audio id="alert1_audio" preload="auto">    
    <source src="/audio/alert1.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="applause_audio" preload="auto">    
    <source src="/audio/applause.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="wrong_audio" preload="auto">    
    <source src="/audio/wrong.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  <audio id="rigth_audio" preload="auto">    
    <source src="/audio/right.wav" type="audio/wav">
    Your browser does not support the audio element.
  </audio> -->


  <div style="background-color:#dde1be;padding:5px;text-align:center;">
    <h2 style="margin: 0px;padding: 0;"><%= title %></h2>
    <p style="font-size:50%;margin: 0px;padding: 0;"><%= wsa %>:<%= wsp %></p>
    <% if (fail_msg != undefined) { %>
    <p style="font-family:Verdana;color:#e10e1c;"> <%= fail_msg%> </p>
    <%}%>
  </div>

  <div  style="overflow:auto;background-color:#dde1be;margin-top:7px;">

    <div class="left" style="background-color:#dde1be">
      <h3 style="margin: 0px;padding: 0;">Placar</h3>    
      <ul id="scoreboard_list" style="list-style-type: none; margin: 10px;padding: 0;"></ul>
    </div>


    <div class="main" style='text-align: center;margin-top: 7px;'>
      <!-- <h3 style="margin: 0px;padding: 0;">Match Room</h3> -->
      <h1  style="margin: 0px;padding: 0;"><%= match.name %></h1>
      <h6 id="cronnos_status" style='margin: 0px;padding: 0;'>&nbsp;</h6>
    <div id="podium_div" hidden style="padding: 10px;">
      <h3>Pódio</h3>
      <div id="places_div" class="flex-container2" style="padding: 10px;"></div>
    </div>
    <div id="register_room_div" hidden>
      <h3>Escolha um avatar para entrar na match</h3>
      <h3 id="avatares_emojis"></h3>
    </div>
    <div id="question_room_div" hidden>
      <h3 id="round_h">Round</h3>
      <div style="text-align: left;">
        <h5 id="quiz_theme"></h5>
        <h3 id="question_description"></h3>
        <ul id="question_options_list" style="margin: 10px;padding: 0;"></ul>
      </div>
      <div id="pass_response_room_div" style='text-align: center;' hidden>
        <button id="pass_button" class="button button1" disabled>Passar</button>
        <button id="response_button" class="button button2" disabled>Responder</button>
      </div>
    </div>
    <div id="pass_room_div" hidden>
      <h3>Passe para outro jogador escolhendo o avatar</h3>
      <h3 id="avatares_pass"></h3>
      <!-- <ul id="pass_list" style="list-style-type: none; margin: 10px;padding: 0;"></ul> -->
    </div>
    <div id="status_div" style="padding: 10px;">
      <span id="ws_match_status_emoji" style="margin: 0;font-size:50px;"></span><br>
      <!-- <span id="cronnos_status" style='font-size:20px;'></span> -->
      <h5 id="ws_match_status_text" style="margin: 0;"></h5>
    </div>
  </div>

  <div class="left" style="background-color:#dde1be;text-align: center">
    <!-- <div id="status_div">
      <h3>Status</h3>
      <span id="ws_match_status_emoji" style='font-size:50px;'></span><br>
      <span id="cronnos_status" style='font-size:20px;'></span>
      <h5 id="ws_match_status_text" style="margin: 0px;padding: 0;"></h5>
    </div> -->
    <h1 id="web_socket_server_port" hidden><%= wssp %></h1>
    <h1 id="web_server_address" hidden><%= wsa %></h1>
    <h1 id="ws_match_owner_user_key" hidden><%= ws_match_owner_user_key %></h1>
    <h1 id="ws_match_cluster_key" hidden><%= ws_match_cluster_key %></h1>
    <h1 id="ws_match_player_key" hidden><%= ws_match_player_key %></h1>
    <h1 id="ws_match_player_name" hidden><%= ws_match_player_name %></h1>
    <% if (user != undefined) { %>
    <h1 id="user_key" hidden><%= user.email %></h1>
    <%} else { %>
    <h1 id="user_key" hidden></h1>
    <% } %>




  </div>

  </div>

  <div id="status" style="background-color:#dde1be;text-align:center;padding:5px;margin-top:7px;">
    <% if (user != undefined) { %>
    <p style="margin: 0px;padding: 0;"> <%= user.name %> </p>
    <p style="font-size:50%;margin: 0px;padding: 0;"> <%= user.email %> </p>
    <a href="/user_logout"> Sair </a>
    <%} else { %>
    <p style="margin: 0px;padding: 0;">
      <a style="margin: 0px;padding: 0;" href="/user_login_form"> Faça login </a> or
      <a style="margin: 0px;padding: 0;" href="/user_register_form"> Registre-se </a>
    </p>
    <% } %>
  </div>
</body>

</html>