<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
  <script src="/javascripts/wsmatch.js"></script>
</head>

<body style="font-family:Verdana;color:#05252c;" onload="wsmatch()">

  <div style="background-color:#7a814b;padding:5px;text-align:center;">
    <h2 style="margin: 0px;padding: 0;"><%= title %></h2>
    <p style="font-size:50%;margin: 0px;padding: 0;"><%= wsa %>:<%= wsp %></p>
    <% if (fail_msg != undefined) { %>
      <p style="font-family:Verdana;color:#e10e1c;"> <%= fail_msg%> </p>
    <%}%>
  </div>

  <div  style="overflow:auto;background-color:#7a814b;margin-top:7px;">

    <div class="left" style="background-color:#7a814b">
      <h3 style="margin: 0px;padding: 0;">Scoreboard</h3>    
    </div>


    <div class="main">
      <h3>Match Room</h3>
    </div>

    <div class="left" style="background-color:#7a814b">

      <h1 id="web_socket_server_port" hidden><%= wssp %></h1>
      <h1 id="web_server_address" hidden><%= wsa %></h1>
      <h1 id="ws_match_cluster_key" hidden><%= ws_match_cluster_key %></h1>
      <h1 id="ws_match_player_key" hidden><%= ws_match_player_key %></h1>
      <% if (user != undefined) { %>
        <h1 id="user_key" hidden><%= user.email %></h1>
      <%} else { %> 
        <h1 id="user_key" hidden></h1>
      <% } %>
           
    </div>
    
  </div>

  <div id="status" style="background-color:#7a814b;text-align:center;padding:5px;margin-top:7px;">
    <% if (user != undefined) { %>
    <p style="margin: 0px;padding: 0;"> <%= user.name %> </p>
    <p style="font-size:50%;margin: 0px;padding: 0;"> <%= user.email %> </p>
    <a href="/user_logout"> logout </a>
    <%} else { %> 
      <p style="margin: 0px;padding: 0;">
        <a style="margin: 0px;padding: 0;" href="/user_login_form"> login </a> or
        <a style="margin: 0px;padding: 0;" href="/user_register_form"> register </a>
      </p>
    <% } %>

</body>

</html>