<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascripts/chatroom.js"></script>

</head>

<body style="font-family:Verdana;color:#05252c;" onload="chatroom()">

  
  <div style="background-color:#90b1df;padding:5px;text-align:center;">
    <h2 style="margin: 0px;padding: 0;"><%= title %></h2>
    <p style="font-size:50%;margin: 0px;padding: 0;"><%= wsa %>:<%= wsp %></p>
    <% if (fail_msg != undefined) { %>
    <p style="font-family:Verdana;color:#e10e1c;"> <%= fail_msg%> </p>
    <%}%>
  </div>

  <div  style="overflow:auto;background-color:#90b1df;margin-top:7px;">

    <div class="left" style="background-color:#90b1df">
      <h3 style="margin: 0px;padding: 0px;"><a href="/match_home" style="text-decoration: none;">&#x1F519;</a> Matches</h3>
      <ul style="list-style-type: none; margin: 10px;padding: 0;">
        <li> 
          <Div  style="padding-bottom: 10px ;">
            &#x1F4C4 <a href="/match_register_form" >New...</a>
          </Div>            
        </li>
        <% if (user_matches != undefined) { %>
    <% for (const key in user_matches) { %>
    <li>
      <Div>
        &#x1F50E <a href=<%= "/match_view?match_key=" + key %> style="text-decoration: none;">
          <%= user_matches[key].name %> </a>
        <a href=<%= "/match_edit_form?match_key=" + key %> style="text-decoration: none;">
          &#9998;
        </a>
        <p style="font-size:50%;margin-top: 0px ; margin-bottom: 5px; margin-left: 25px;">
          <%= user_matches[key].theme %> </p>
      </Div>
    </li>
    <% } %>
    <% } %>
    </ul>
  </div>



  <div class="forms" style="background-color:#90b1df">
    <h3>New Match</h3>
    <form id="match_register" action="/match_register" method="get">
      
      
        <Div style="text-align: left;">
          <label for="name"> Match name</label>
          <input id="name" name="name" placeholder="match name" style="margin: 2px" autofocus required type="text"></input><br>
          <input type="checkbox" id="checkbox1" name="checkbox1" value="0">
          <label for="checkbox1"> Show options in shooting state</label><br>
          <input type="checkbox" id="checkbox2" name="checkbox2" value="0">
          <label for="checkbox2"> Start match upon completing registration</label><br>
          <label for="quantity1">Minimum number of players</label>
          <input type="number" id="quantity1" name="quantity1" min="1" max="50"><br>
          <label for="quantity2">Maximum number of players</label>
          <input type="number" id="quantity2" name="quantity2" min="1" max="50"><br>
          <label for="quantity3">Waiting time for registration at match (seconds)</label>
          <input type="number" id="quantity3" name="quantity3" min="5" max="300"><br>
          <label for="quantity4">Waiting time for the start of the match (seconds)</label>
          <input type="number" id="quantity4" name="quantity4" min="5" max="300"><br>
          <!-- <label for="quantity5">Wait time to shooting (seconds)</label>
          <input type="number" id="quantity5" name="quantity5" min="30" max="300"><br> -->
          <label for="quantity6">Waiting time to start the next round (seconds)</label>
          <input type="number" id="quantity6" name="quantity6" min="5" max="300"><br>
          <label for="quantity7">Waiting time to resume the round (seconds)</label>
          <input type="number" id="quantity7" name="quantity7" min="5" max="300"><br>
          <label for="quantity8">Waiting time to end the match (seconds)</label>
          <input type="number" id="quantity8" name="quantity8" min="5" max="300"><br>
          <label for="quantity9">Waiting time to destroy the match (seconds)</label>
          <input type="number" id="quantity9" name="quantity9" min="5" max="300"><br>
        </Div>
      
      <button id="register_btn" type="submit" style="margin: 10px;">Register</button>
    </form>
  </div>

  <div class="left"></div>

  </div>

  <div id="status" style="background-color:#90b1df;text-align:center;padding:5px;margin-top:7px;">
    <% if (user != undefined) { %>
    <p style="margin: 0px;padding: 0;"> <%= user.name %> </p>
    <p style="font-size:50%;margin: 0px;padding: 0;"> <%= user.email %> </p>
    <a href="/user_logout"> logout </a>
    <%} else { %>
    <a style="margin: 0px;padding: 0;" href="/user_login_form"> login </a>
    <% } %>
  </div>

</body>

</html>