<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
  <script src="/javascripts/chatroom.js"></script>
</head>

<body style="font-family:Verdana;color:#05252c;" onload="chatroom()">

  <div style="background-color:#90b1df;padding:5px;text-align:center;">
    <h2 style="margin: 0px;padding: 0;"><%= title %></h2>
    <p style="font-size:50%;margin: 0px;padding: 0;"><%= wsa %>:<%= wsp %></p>
    <% if (fail_msg != undefined) { %>
      <p style="font-family:Verdana;color:#e10e1c;"> <%= fail_msg%> </p>
    <%}%>
  </div>

  <div  style="overflow:auto;background-color:#90b1df;margin-top:7px;">

    <div class="left" style="background-color:#90b1df">
      <h3 style="margin: 0px;padding: 0;">
        <a href="/quiz_home" style="text-decoration: none;">&#x1F519</a>  Quizzes
      </h3>
      <ul style="list-style-type: none; margin: 10px;padding: 0;">
        <li> 
          <Div  style="padding-bottom: 10px ;">
            &#x1F4C4 <a href="/quiz_register_form" >New...</a>
          </Div>            
        </li>
        <% if (user_quizzes != undefined) { %>
    <% for (const key in user_quizzes) { %>
    <li>
      <Div>
        &#x1F50E;
        <a href=<%= "/quiz_view?quiz_key=" + key %> style="text-decoration: none;">
          <%= user_quizzes[key].name %>
        </a>
        <a href=<%= "/quiz_edit_form?quiz_key=" + key %> style="text-decoration: none;">
          &#9998;
        </a>
        <p style="font-size:50%;margin-top: 0px ; margin-bottom: 5px; margin-left: 25px;">
          <%= user_quizzes[key].theme %> </p>
      </Div>
    </li>
    <% } %>
    <% } %>
    </ul>   
    </div>

    

    <div class="forms" style="background-color:#90b1df">
      <h3>New Quiz</h3>
      <form id="quiz_register" action="/quiz_register" method="get">
        <input id="name" name="name"  placeholder="quiz name" style="width:50%; margin: 2px" autofocus required type="text"></input><br>
        <textarea id="theme" name="theme" placeholder="quiz theme" style="width:50%; margin: 2px" required></textarea><br>
        <button id="register_btn" type="submit" style="width:50%; margin: 10px;">Register</button>
      </form>
    </div>

    <div class="left"></div>
    
  </div>

  <div id="status" style="background-color:#90b1df;text-align:center;padding:5px;margin-top:7px;">
    <% if (user != undefined) { %>
      <p style="margin: 0px;padding: 0;"> <%= user.name %> </p>
      <p style="font-size:50%;margin: 0px;padding: 0;"> <%= user.email %> </p>
      <a href="/user_logout"> logout </a>
      <%} else { %>
      <a style="margin: 0px;padding: 0;" href="/user_login_form"> login </a>
      <% } %>
  </div>

</body>

</html>