<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
  <script src="/javascripts/chatprivate.js"></script>
</head>

<body style="font-family:Verdana;color:#05252c;" onload="chatprivate()">

  <div style="background-color:#b990df;padding:15px;text-align:center;">
    <h2><%= title %></h2>
    <p><%= wsa %>:<%= wss-port-input %></p>
  </div>

  <div style="overflow:auto">

    <div class="right" style="background-color:#b990df">
      <h3>User</h3>
      <h4><%= username1 %></h4>
      <form id="connection-form" action="#" method="post">
        <input type="hidden" id="token1-input" name="token1-input" value=<%= token1 %>>
        <input type="hidden" id="token2-input" name="token2-input" value=<%= token2 %>>
        <input type="hidden" id="username1-input" name="username1-input" value=<%= username1 %>>
        <input type="hidden" id="username2-input" name="username2-input" value=<%= username2 %>>
        <input type="hidden" id="roomport-input" name="roomport-input" value=<%= roomport %>>
        <input type="hidden" id="invitation-input" name="invitation-input" value=<%= invitation %>>
        <input type="hidden" id="webserver-ip-input" name="webserver-ip-input" value=<%= localAddress %>>
        <input type="hidden" id="webserver-port-input" name="webserver-port-input" value=<%= webserverPort %>>
        <button id="connection-btn" type="submit">disconnect</button>
      </form>     
    </div>

    <div class="main">
      <h2>Chat</h2>
      <ul id="mensagens"></ul>
      <form id="message-form" action="#" method="post">
        <input type="hidden" id="wss-port-input" name="wss-port-input" value=<%= wssPort %>>
        <textarea id="mensagem-textarea" placeholder="write messages/commands here" disabled style="width:100%" required></textarea>
        <!--<button id="message-btn" type="submit" disabled>send message</button>-->
      </form>
    </div>
    
  </div>

  <div id="status" style="background-color:#b990df;text-align:center;padding:10px;margin-top:7px;">disconnected</div>

</body>

</html>