<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
  <script src="/javascripts/chatroom.js"></script>
</head>

<body style="font-family:Verdana;color:#05252c;" onload="chatroom()">

  <div style="background-color:#90b1df;padding:15px;text-align:center;">
    <h2><%= title %></h2>
    <p><%= wsa %>:<%= wsp %></p>
  </div>

  <div style="overflow:auto">

    <div class="right" style="background-color:#90b1df">
      <h3>Match Register</h3>
      <form id="connection-form" action="#" method="post">
        <!--<input type="hidden" id="webserver-ip-input" name="webserver-ip-input" value=<%= wsa %>>-->
        <!--<input type="hidden" id="webserver-port-input" name="webserver-port-input" value=<%= wsp %>>-->
        <input id="nickname" placeholder="nickname" style="width:50%" required></input>
        <input id="email" placeholder="email" style="width:50%" required type="email" pattern=".+@globex\.com"></input><br>
        <button id="connection-btn" type="submit">register</button>
      </form>     
    </div>

    <div class="main">
      <h2>Chat</h2>
      <ul id="mensagens"></ul>
      <form id="message-form" action="#" method="post">
        <!--<input type="hidden" id="wsp" name="wsp" value=<%= wsp %>>-->
        <!--<input type="hidden" id="token-input" name="token-input" value=<%= wsp %>>-->
        <textarea id="mensagem-textarea" placeholder="write messages/commands here" disabled style="width:100%" required></textarea>
        <!--<button id="message-btn" type="submit" disabled>send message</button>-->
      </form>
    </div>
    
  </div>

  <div id="status" style="background-color:#90b1df;text-align:center;padding:10px;margin-top:7px;">
    disconnected
  </div>

</body>

</html>